<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.carpool.mapper.MemberMapper">
 
 	<resultMap type="org.carpool.domain.MemberVO" id="memberMap">
 		<id property="userid" column="userid"/>
	    <result property="userid" column="userid"/>
	    <result property="userpw" column="userpw"/>
	    <result property="userName" column="username"/>
	    <result property="userphone" column="userphone"/>
	    <result property="regDate" column="regdate"/>
	    <result property="updateDate" column="updatedate"/>
	    <collection property="authList" resultMap="authMap">
	    </collection> 
 	</resultMap>
 	
 	<resultMap type="org.carpool.domain.AuthVO" id="authMap">
 		<result property="userid" column="userid"/>
    	<result property="auth" column="auth"/>
 	</resultMap>
 
 	<select id="read" resultMap="memberMap">
	SELECT 
	  mem.userid,  userpw, username, userphone,enabled, regdate, updatedate, auth
	FROM 
	  car_member mem LEFT OUTER JOIN car_member_auth auth on mem.userid = auth.userid 
	WHERE mem.userid = #{userid} 
	</select>
	
	<insert id="userinsert">
	insert into car_member (userid, userpw, username, userphone)
	values (#{userid},#{userpw},#{userName},#{userphone})
	</insert>
	
	<insert id="authinsert">
	insert into car_member_auth (userid,auth)
	values (#{userid},#{auth})
	</insert>
	
	<select id="usercheck" resultType="int">
	select count(*) 
	from car_member 
	where userid= #{userid}
	</select>
 </mapper>