.home {
  background-color: #f2f2f2;
}

.home .home__header {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.home__header i {
  color: #4374d9;
}

.home__header .home-header__column {
  display: flex;
  align-items: center;
}

.home-header__column img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.home-header__info .home-header__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.home-header__info .home-header__subtitle {
  font-size: 12px;
  color: #b4b4b4;
}

.home .home__carpool-board {
  margin-bottom: 10px;
  background-color: white;
}

.home .home__carpool-board {
  padding: 20px;
}

.home__carpool-board .carpool-board__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.carpool-board__header .carpool-board__region {
  color: #b4b4b4;
}

.carpool-board__postings {
  border-top: 1px solid #ebebeb;
}

.carpool-board__postings .carpool-board__posting {
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.carpool-board__posting .posting__content i {
  width: 30px;
  margin-right: 20px;
}

.carpool-board__postings .carpool-board__posting a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.carpool-board__posting .posting__content {
  display: flex;
  align-items: flex-start;
}

.posting__preview .carpool-board__posting-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.posting__preview .carpool-board__posting-destination {
  color: #b4b4b4;
  font-size: 11px;
}

.carpool-board__posting .posting__date-time {
  font-size: 10px;
  color: #b4b4b4;
}

.carpool-board__posting .carpool-board__posting-title {
  font-size: 15px;
}
.carpool-board__posting .carpool-board__posting-destination {
  font-size: 12px;
  justify-content: space-between;
}

.more__links {
  display: flex;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.more__links .more__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.more__links .more__option img {
  height: 45px;
  margin-bottom: 10px;
}

.more__links .more__option .more__options-title {
  font-size: 12px;
}

.plus__btn {
  background-color: #4374d9;
  color: white;
  border:none;
}
